<div class="bg-dark mt-5 p-5 text-center text-light">
  <h1>Product Details</h1>
  <div class="container">
    <p>Product Name : {{ product?.name }}</p>
    <p>Product Price:{{ product.price }}</p>
    <p>Product Quantity: {{ product.quantity }}</p>
    <div>
      <i class="text-warning bi bi-star-fill"></i>
      <i class="text-warning bi bi-star-fill"></i>
      <i class="text-warning bi bi-star-fill"></i>
      <i class="text-warning bi bi-star-fill"></i>
      <i class="text-warning bi bi-star-fill"></i>
    </div>
    <button (click)="backToProduct()" class="btn btn-outline-info mt-4">
      Back To Products
    </button>
  </div>
</div>
