<div class="bg-dark p-5 text-center text-light">
  <h1 #myElement>Welcome Mearn</h1>
  <button class="btn btn-danger" (click)="execute(myElement)">execute</button>
  <button class="btn btn-success" (click)="show()">Show</button>
  <!-- <p class="fs-1 text-warning">Data : {{ componentData }}</p>
  <button (click)="changeValue()" class="btn btn-success">Change Value</button>
  <div class="container mt-4">
    <input
      (input)="getInputValue($event)"
      type="text"
      class="form-control"
      placeholder="Enter Your Data"
    />
    <p class="fs-2 mt-3 text-danger">Your Data : {{ inputValue }}</p>
  </div> -->
</div>
